$borderColor: rgba(236, 208, 97, 0.568);
$backgroundColor: #170b01f5;
$watchColor: rgb(2, 2, 2);
@keyframes boxShadow {
  0%,
  100% {
    box-shadow: $borderColor -1px -1px 1px 0px;
  }
  25% {
    box-shadow: $borderColor 1px -1px 1px 0px;
  }
  50% {
    box-shadow: $borderColor 1px 1px 1px 0px;
  }
  75% {
    box-shadow: $borderColor -1px 1px 1px 0px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #444;
  }
}
