body {
  background-color: #333;
  color: #aaa;
  padding: 0 1rem;
  font-family: sans-serif;
}

h1 {
  color: gold;
}

.clock {
  width: 200px;
  height: 200px;
  border: 2px solid #000;
  border-radius: 50%;
  position: relative;
}

.hour-hand,
.minute-hand,
.second-hand {
  position: absolute;
  background-color: #000;
}

.hour-hand {
  width: 4px;
  height: 50px;
  top: 30%;
  left: 50%;
  transform-origin: 50% 100%;
  background-color: green;
  border-radius: 1px;
}

.minute-hand {
  width: 3px;
  height: 70px;
  top: 20%;
  left: 50%;
  transform-origin: 50% 100%;
  background-color: red;
  border-radius: 1px;
}

.second-hand {
  width: 2px;
  height: 80px;
  top: 15%;
  left: 50%;
  transform-origin: 50% 100%;
  background-color: cyan;
  border-radius: 1px;
  z-index: 2;
}
.watchMarke{
  position: absolute;
  width: fit-content;
  height: 15px;
  top: 30%;
  left: 30%;
  z-index: -1;
}
